@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root {
    --fonte-título: 'Passion One', Arial, Helvetica, sans-serif;
    --fonte-poema: 'Sriracha', Arial, Helvetica, sans-serif;
    --fonte-normal: Verdana, Tahoma, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    min-height: 100vh;
    font-family: var(--fonte-normal);
    /**background: darkgray url('imagens/background001.jpg') center center no-repeat fixed;
    background-size: cover;*/
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte-título);
    font-size: 8vw;
    padding-top: 50px;
    font-variant: small-caps; /*nova técnica ensinada - anotar todas as letras são maisculas mas as primeiras são maiores.*/
    /*text-transform: uppercase; nova técnica ensinada - anotar*/
}  

header > h2 {
    font-family: var(--fonte-normal);
    font-size: 1em;
    padding-bottom: 50px;
}

a {
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
   font-family: var(--fonte-poema);
   padding-top: 10vh; /*dica*/
   padding-bottom: 10vh; /*dica*/
   line-height: 2em; /*bom usar*/
   padding-left: 30px;
   font-size: 3.5vw; /*proposta, sem o media query (não é a melhor opção).*/
}

section > p {
    padding-bottom: 2em;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgb(129, 126, 126);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.514);
    background-size: cover; /*vai valer para #img001 e #img002 poupamos linhas*/
    background-attachment: fixed;
}

.imagem > p {
    display: inline-block; /*pra adaptarse ao tabanho da letra independente do tamanho*/
    background-color: rgba(0, 0, 0, 0.486);
    padding: 5px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.609);
}

#img01 {
    background-image: url('imagens/background001.jpg');
    background-position: right center;
}

#img02 {
    background-image: url('imagens/background002.jpg'); 
}

 footer {
     background-color: black;
     color: white;
     font-family: var(--fonte-normal);
     text-align: center;
     padding: 10px;
 }

